@use "sass:color";

$primary-color: #74a434;
$secondary-color: #007bb6;
$ink-navy-blue: #016270;

$text-base: 1rem;
$text-lg: 1.25rem;
$text-xl: 1.5rem;
$text-2xl: 3rem;
$text-3xl: 3rem;
$text-4xl: 3.5rem;
$text-5xl: 4.5rem;
$text-6xl: 5.25rem;

@mixin textSizes {
  .text-base {
    font-size: $text-base;
  }
  .text-lg {
    font-size: $text-lg;
  }
  .text-xl {
    font-size: $text-xl;
  }
  .text-2xl {
    font-size: $text-2xl;
  }
  .text-3xl {
    font-size: $text-3xl;
  }
  .text-4xl {
    font-size: $text-4xl;
  }
  .text-5xl {
    font-size: $text-5xl;
  }
  .text-6xl {
    font-size: $text-6xl;
  }
}

:root {
}

html {
  scroll-behavior: smooth;
  overflow-x: none;
}

body {
  // background-image: linear-gradient(
  //   to right,
  //   $secondary-color 33.334%,
  //   darken($secondary-color, 45%) 33.333%,
  //   $secondary-color 33.333%
  // );
  overflow-x: hidden;
}

.text-primary {
  color: $primary-color;
}
.text-secondary {
  color: $secondary-color;
}

.bg-primary {
  background-color: $primary-color;
}
.bg-secondary {
  background-color: $secondary-color;
}

.blur-image {
  filter: blur(2px);
  @media (min-width: 1024px) {
    filter: blur(5px);
  }
}

.h-torn-buffer {
  height: calc(100vh);
  @media (max-width: 640px) {
    height: calc(100vh - 180px);
  }
}

.lg-bg-gray-25 {
  @media (min-width: 1024px) {
    background-color: #fcfcfc;
  }
}
.lg-bg-gray-33 {
  @media (min-width: 1024px) {
    background-color: #fafafa;
  }
}

@mixin horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}

@mixin vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-landing-image {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-linkedin-card {
  left: 50%;
  transform: translate(-50%, -50%);
}

.torn::after {
  content: "";
  background: white;
  padding: 40px;
  position: absolute;
  top: 100%;
  height: 30px;
  width: 100%;
  left: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg)
    bottom;
  background-size: 100%;
}

.torn-top::after {
  content: "";
  background: white;
  padding: 40px;
  position: absolute;
  bottom: 0%;
  height: 30px;
  width: 100%;
  left: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg)
    bottom;
  background-size: 100%;
  transform: rotate(180deg);
}

.title {
  @media (min-width: 1024px) {
   // text-shadow: 0px 0px 35px black;
   text-shadow: 0 3px 0px rgb(0 0 0 / 20%);
  }
  letter-spacing: -0.05rem;
  font-style: italic;
}

.text-shadow {
  text-shadow: 0 3px 0px rgb(0 0 0 / 20%);
}

.slogan-height {
  height: 340px;
  @media (min-width: 640px) {
    height: 450px;
  }
  @media (min-width: 1024px) {
    height: 550px;
  }
}

.writing-image {
  background-color: transparent;
  z-index: -1;
  position: absolute;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);

  @media (min-width: 1024px) {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
}

.landing-image {
  width: 325px;
  @media (min-width: 640px) {
    min-width: 575px;
    max-width: 575px;
  }
  @media (min-width: 1920px) {
    min-width: 775px;
    max-width: 775px;
  }
}

#services,
#pricing,
#contact {
  scroll-margin-top: 4rem;
}

#bio,
#testimonials {
  scroll-margin-top: 7rem;
}

.lg-scale-up-center {
  transform: scale(1.05);
  // z-index: 2;
  @media (max-width: 1024px) {
    transform: scale(100%);
    // z-index: 1;
  }
  @media (min-width: 1024px) {
    .lg-unscale-children {
      transform: scale(0.95);
    }
  }
}

// TESTIMONIAL STYLES
.testimonial-card {
  position: relative;
  width: 90vw;
  max-width: 360px;
  @media (min-width: 500px) {
    max-width: 100%;
    width: 400px;
  }
  border-radius: 2px;
  background: #fff;
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 0%, 0.035),
    hsla(0, 0%, 100%, 0.065) 100%
  );
}

.paper-color-2 {
  @media (max-width: 640px) {
    background: rgb(252, 252, 252);
    background-image: -webkit-linear-gradient(
      hsla(0, 0%, 0%, 0.035),
      hsla(0, 0%, 100%, 0.065) 100%
    );
  }
}
.paper-color-3 {
  @media (max-width: 640px) {
    background: rgb(253, 253, 253);
    background-image: -webkit-linear-gradient(
      hsla(0, 0%, 0%, 0.035),
      hsla(0, 0%, 100%, 0.065) 100%
    );
  }
}

.testimonial-card::before,
.testimonial-card::after {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 40%;
  height: 10px;
  //box-shadow: 0 5px 14px rgba(0,0,0,.7);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.testimonial-note-1 {
  transform: rotate(1.75deg);
  @media (min-width: 640px) {
    transform: rotate(-3deg);
  }
}
.testimonial-note-2 {
  transform: rotate(-1.75deg);
  @media (min-width: 640px) {
    transform: rotate(0deg);
  }
}
.testimonial-note-3 {
  transform: rotate(1.75deg);
  @media (min-width: 640px) {
    transform: rotate(3deg);
  }
}

.testimonial-card::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.testimonial-card::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

// .testimonial-card:hover::before,
// .testimonial-card:hover::after {
//   box-shadow: 0 2px 14px rgba(0,0,0,.4);
// }

.testimonial-card:hover::before {
  left: 5px;
}

.testimonial-card:hover::after {
  right: 5px;
}

// FONT STYLES

.handwritten {
  line-height: 0.5rem;
  font-size: 1.6rem;
  @media (min-width: 640px) {
    line-height: 0.625rem;
    font-size: 1.575rem;
  }
  font-family: "Nanum Pen Script", cursive;
  color: #363636;
}
.handwritten-2 {
  line-height: 1.1;
  font-family: "Architects Daughter", cursive;
  color: #363636;
}
.handwritten-3 {
  line-height: 1.1;
  font-family: "Permanent Marker", cursive;
  color: #363636;
}

.max-w-page {
  @media (min-width: 1920px) {
    max-width: 1536px;
  }
}
.min-w-page {
  @media (min-width: 1536px) {
    min-width: 1536px;
  }
}

#scroll-down-button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  height: 55px; /* Height of the alert */
  width: 55px; /* Width of the alert */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $primary-color; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  font-size: 22px; /* Increase font size */
  font-weight: 900;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}


#scroll-down-button:hover,
#contact-button:hover {
  background-color: color.scale($primary-color, $lightness: -10%);
}

li:before {
  content: "";
  padding-left: 0px;
  color: red;
}
